 .App {
    padding: 10px;
     position: relative;
}

 .title_mob_box {
     display: flex;
     font-size: 20px;
     justify-content: center;
     align-items: center;
     margin-bottom: 10px;
 }

 .title_mob_icon{
     fill: rgb(208, 198, 18);
 }

 @media screen and (min-width: 1515px) {
     .App {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: repeat(6, 1fr);
         gap: 20px;
         padding: 30px;
     }

     .title_mob_box {
         display: none;
     }
 }

